<h1>Game Page</h1>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Available Games</div>
    <table class="table">
      <tr>
        <th>#</th>
        <th>Player</th>
        <th>You would be...</th>
      </tr>
      <% @available_games.each do |available_game| %>
        <tr>
          <td>1</td>
          <td>Deep Blue</td>
          <td>Black</td>
          <td><button type="submit" class="btn btn-primary">Join</button></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>