<h1>Chessboard</h1>

<table id='chessboard'>
  <% (0..7).each do |y| %>
    <tr>
    <% (0..7).each do |x| %>
      <td data-x="<%= x %>" data-y="<%= y %>">
      <% piece = Piece.find_by(x_position: x, y_position: y, game_id: 21) %>
      	<% if piece.present? %>
      		<div class="piece"><%= piece.unicode.html_safe %></div>
      </td>
      	<% end %>  	
    <% end %>
  <% end %>
</table>