@import "bootstrap";
@import "font-awesome";


.navbar-inverse .navbar-nav .nav-link {
  color: white;
  font-family: 'kalamregular';
  opacity: .95;
}

.navbar-inverse .navbar-brand {
    color: #E3E85A;
    font-family: 'kalamregular';
    font-size: 22px;
}

.navbar {
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('simple_dashed.png')
}

body {
    background: image_url('bg.png');
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  margin-top: 50px;
}

h1 {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
	text-align: center;
}

#chessboard {
  padding: 0px;
  margin: 0 auto;
  border: 2px solid #181818;
}

#chessboard tr td {
  width: 60px;
  height: 60px;
}

#chessboard tr:nth-child(2n) td:nth-child(2n+1) {
  background: grey;
}

#chessboard tr:nth-child(2n+1) td:nth-child(2n) {
  background: grey;
}

[data-black=false] {
  text-align: center;
  font-size: 40px;
  color: white;
  text-shadow: 0px 0px 1px black;
}

.piece {
  text-align: center;
  font-size: 40px;
}

.button {
  padding:5px;
  background-color: blue;
  border: 1px solid #666;
  color: white;
  text-decoration:none;
  hover_color: none;
}

