@import "bootstrap";
@import "font-awesome";


.navbar-inverse .navbar-nav .nav-link {
  color: white;
  font-family: "Segoe UI", Candara, sans-serif;
  opacity: .95;
}

.navbar-inverse .navbar-brand {
    color: #E3E85A;
    font-family: "Segoe UI", Candara, sans-serif;
    font-size: 22px;
}

.navbar {
  box-shadow: 0px 1px 3px #2a2a2a;
  background: #443e4e;
  position: fixed;
  width: 100%;
}

body {
  background: image_url('brushed_alu.png');
  font-family: 'Overpass', sans-serif;
}

.hero {
  background: image_url('star-wars-chess.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
  width: 100%;
  box-shadow: 0px 3px 8px #2a2a2a;
  padding: 10px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  margin-top: 50px;
}

h1 {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-weight: bold;
  font-size: 50px;
  padding-top: 20px;
}

h4 {
  font-family: 'Overpass', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 40px;
  text-align: center;
  padding: none;
  margin-left: 0px;
}

* {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
	text-align: center;
}

#chessboard {
  padding: 0px;
  margin: 0 auto;
  border: 2px solid #181818;
}

#chessboard tr td {
  width: 60px;
  height: 60px;
}

#chessboard tr:nth-child(2n) td:nth-child(2n+1) {
  background: grey;
}

#chessboard tr:nth-child(2n+1) td:nth-child(2n) {
  background: grey;
}

[data-black=false] {
  text-align: center;
  font-size: 40px;
  color: white;
  text-shadow: 0px 0px 1px black;
}

.piece {
  text-align: center;
  font-size: 40px;
}

.button {
  padding:5px;
  background-color: blue;
  border: 1px solid #666;
  color: white;
  text-decoration:none;
  hover-color: none;
}

#myModal {
  text-align: center;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.frosty h1 {
  font-family: 'Overpass', sans-serif;
  font-weight: 800;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  color: white;
  font-size: 200px;
  padding-left: 50px;
  padding-right: 50px;
}

.frosty h2 {
  font-family: 'Overpass', sans-serif;
  font-weight: 100;
  font-size: 30px;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  color: white;
}

.btn {
  border-radius: 0;
  margin: 5px;
  text-align: center;
}

.btn-primary {
  background-color: #fff;
  border: 5px solid;
  border-color: #443e4e;
  color: #443e4e;
  font-family:'Overpass', sans-serif;
  font-weight: bold;
}

.btn-lg {
  background-color: #fff;
  border: 5px solid;
  border-color: #443e4e;
  color: #443e4e;
  font-family:'Overpass', sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-top: 17px;
}

.btn-white {
  background-color: #fff;
  border: 5px solid;
  border-color: #000;
  color: #000;
  font-family:'Overpass', sans-serif;
  font-weight: bold;
}

.btn-black {
  background-color: #000;
  border: 5px solid;
  border-color: #000;
  font-family:'Overpass', sans-serif;
  font-weight: bold;
  color: #fff;
}
